#logo{
	height: 70px;
	width: 100%;
	background:#C4F5FD;
	background-size:cover;
	text-align: center;
	font:normal;
	font-size: 50px;
}

#div2{
	width: 25%;
	float: left;
	text-align:center;
	visibility: hidden;
}


#div3{
	width: 50%;
	text-align:center;
	background:#21f50a;
	height: 60%;
}

#div4{
	width: 25%;
	float: right;
	text-align:center;
	visibility: hidden;
}

#hobby{
text-align: center;
}
