<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wmg.dao.AdminDao">
	<!-- 发布公告  -->
	<update id="notice" parameterType="java.lang.String">
	update Operation set Notice=#{Notice}
	</update>
	
	<!-- 加载公告 -->
	<select id="onloadNotice" resultType="java.lang.String">
		select Notice from Operation
	</select>

	<!-- 查询所有交易信息数据 -->
	<select id="findAllGoodsInfo" resultType="com.wmg.model.GoodsInfo">
		select * from transactioninfo u where u.TransactionState=1
	</select>

	<!-- 查询所有用户信息数据 -->
	<select id="findAllUserInfo" resultType="com.wmg.model.User">
		select * from  userinfo u where u.UserSign=1
	</select>	
	
</mapper>